@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #181C1F;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #181C1F;
}

body {
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

.border-right-except-last > *:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.border-bottom-except-last > *:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.parent-container {
  overflow: visible;
}


/* Custom Quill editor styling */
.quill-editor-custom .ql-toolbar {
  background-color: #181C1F;
  border: none !important;
  background: #181C1F !important;
  color: #ffffff;
  border-radius: 6.56px 6.56px 0 0;
}

/* Set toolbar icons to white */
.quill-editor-custom .ql-toolbar button,
.quill-editor-custom .ql-toolbar select {
  color: #ffffff;
}

/* Change the hover and active states for the icons */
.quill-editor-custom .ql-toolbar button:hover,
.quill-editor-custom .ql-toolbar button:focus,
.quill-editor-custom .ql-toolbar button.ql-active {
  background-color: #181C1F;
  color: #ffffff;
}

/* Editor container styles */
.quill-editor-custom .ql-container {
  height: 150px;
  margin: 0px 10px 0 10px;
  border: none !important;
  border-top: 1px solid rgba(255,255,255,0.2) !important;
  background: #181C1F !important;
  border-radius: 0 0 6.56px 6.56px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #181C1F #2a2a2a;
}

/* Style the text inside the editor */
.quill-editor-custom .ql-container .ql-editor {
  height: 100%;
  padding: 10px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

/* Placeholder text styling */
.quill-editor-custom .ql-editor.ql-blank::before {
  font-style: italic;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

/* Remove focus outline on toolbar buttons */
.quill-editor-custom .ql-toolbar button:focus {
  outline: none;
}

.quill-editor-custom .ql-container::-webkit-scrollbar {
  width: 8px;
}

.quill-editor-custom .ql-container::-webkit-scrollbar-thumb {
  background: #181C1F !important;
  border-radius: 10px;
}


.ql-stroke {
  stroke: white !important;
}

.ql-picker {
  color: white !important;
}

.ql-picker-options{
  background-color: #181C1F !important;
  color: white !important;
  border: none !important;
}

.ql-snow.ql-toolbar .ql-picker-item:hover {
  color: white !important;
  background-color: #181C1F !important;
}

.ql-snow.ql-toolbar .ql-picker-label:hover {
  color: white !important;
}

.ql-snow.ql-toolbar .ql-picker-label.ql-active {
  color: white !important;
}

.ql-picker-label {
  border: none !important;
}

.ql-snow.ql-toolbar .ql-picker-item.ql-selected {
  color: white !important;
}

.ql-toolbar {
  border: none !important;
}

.key-features-section ul ul {
  margin-left: 1.5rem;
}

.bottom-full {
  bottom: 100%;
}
.top-full {
  top: 100%;
}

.scroll-section {
  scroll-margin-top: 60px;
}