@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
  font-family: "DM Sans", sans-serif;
}

.ql-container {
  @apply bg-quill-background text-quill-text;
  @apply border rounded-bl-md rounded-br-md border-slate-200 !important;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ql-editor {
  flex: 1;  
  min-height: 0;
  @apply text-slate-600;
  font-family: "DM Sans", sans-serif;
}

.dark .ql-editor {
  @apply text-slate-200 !important;
}

.dark .ql-container {
  @apply bg-quill-dark-background text-slate-200 !important;
  @apply border-slate-800 overflow-hidden border-t-0 !important;
}

/* Customize the toolbar */
.ql-toolbar {
  @apply bg-slate-200;
  @apply border rounded-tl-md rounded-tr-md border-slate-200 !important;
}

.dark .ql-toolbar {
  @apply bg-slate-700;
  @apply border-slate-800 !important;
}

.dark .ql-toolbar .ql-picker-label{
  @apply text-slate-50
}

.dark .ql-stroke {
  @apply stroke-current text-slate-50 !important;
}

.dark .ql-editor.ql-blank::before {
  @apply text-gray-400 italic;
  content: attr(data-placeholder);
  pointer-events: none;
}
